In [2]:
#!pip install pandas
#!pip install plotly

# importing dependencies here
import pandas as pd
import os

# importing plotly modules for visualizations
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode, iplot

In [1]:
# get the penguins dataset
import seaborn as sns
sns.get_dataset_names()

# reading the penguins dataset
penguins_df = sns.load_dataset('penguins')
type(penguins_df)

# checking the top 5 rows
penguins_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
# checking the number of rows and columns
penguins_df.shape

(344, 7)

In [ ]:
# checking the column names
penguins_df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [ ]:
# checking the dataset stats
penguins_df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [ ]:
# checking counts and data type for each column
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [ ]:
penguins_df.index

RangeIndex(start=0, stop=344, step=1)

In [ ]:
penguins_df.iloc[0:2,0:2]

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen

In [ ]:
penguins_df.loc[0:2,['species','island']]

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen

In [ ]:
penguins_df[['species','island']][0:2]

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen

In [ ]:
penguins_df[0:2][['species','island']]

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen

In [ ]:
type(penguins_df["island"])

pandas.core.series.Series

In [ ]:
# checking for the presence of null values
penguins_df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [ ]:
# Using Scikit Learn to substitute the null values with the most frequently occurring value in that column.
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="most_frequent")
penguins_df.iloc[:, :] = imputer.fit_transform(penguins_df)

# ensuring that there are no more null values left
penguins_df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [ ]:
# checking island data
island_df = pd.DataFrame(penguins_df.groupby(["island", "species"])["island"].count()).rename(columns={"island": "count"})
island_df

                     count
island    species
Biscoe    Adelie        44
          Gentoo       124
Dream     Adelie        56
          Chinstrap     68
Torgersen Adelie        52

In [4]:
# since each of the 3 penguin species present in the dataset has a particular color associated, adding a color column to the dataset to keep track of the color associated with a specie.

cls = {
"Adelie": "darkorange",
"Gentoo": "teal",
"Chinstrap": "mediumorchid",
}

penguins_df["plot_color"] = penguins_df["species"].apply(lambda x: cls[x])
penguins_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,color,plot_color
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,darkorange,darkorange
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,darkorange,darkorange
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,darkorange,darkorange
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,darkorange,darkorange
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,darkorange,darkorange

In [9]:
penguins_df.loc[:, "plot_color"].unique()

array(['darkorange', 'mediumorchid', 'teal'], dtype=object)

In [31]:
df = penguins_df.loc[:,["species","plot_color"]]
df.groupby(["species","plot_color"]).size()
df.groupby(["species","plot_color"])["plot_color"].agg('count').to_frame('cnt').reset_index()

     species    plot_color  cnt
0     Adelie    darkorange  152
1  Chinstrap  mediumorchid   68
2     Gentoo          teal  124

In [35]:
# selecting rows based on condition 
options = ['Gentoo' ,'Adelie']
penguins_df[(penguins_df['body_mass_g'] < 4000) & penguins_df['species'].isin(options)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,color,plot_color
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,darkorange,darkorange
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,darkorange,darkorange
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,darkorange,darkorange
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,darkorange,darkorange
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,darkorange,darkorange
...,...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,Female,darkorange,darkorange
148,Adelie,Dream,36.0,17.8,195.0,3450.0,Female,darkorange,darkorange
149,Adelie,Dream,37.8,18.1,193.0,3750.0,Male,darkorange,darkorange
150,Adelie,Dream,36.0,17.1,187.0,3700.0,Female,darkorange,darkorange
260,Gentoo,Biscoe,42.7,13.7,208.0,3950.0,Female,teal,teal